{% extends 'base.html.twig' %}

{% block title %}FightStyle index{% endblock %}

{% block body %}
    <h1>FightStyle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Modifiers</th>
                <th>Requirements</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fight_style in fight_styles %}
            <tr>
                <td>{{ fight_style.id }}</td>
                <td>{{ fight_style.name }}</td>
                <td>{{ fight_style.description }}</td>
                <td>{{ fight_style.modifiers ? fight_style.modifiers|json_encode : '' }}</td>
                <td>{{ fight_style.requirements ? fight_style.requirements|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_fight_style_show', {'id': fight_style.id}) }}">show</a>
                    <a href="{{ path('app_fight_style_edit', {'id': fight_style.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fight_style_new') }}">Create new</a>
{% endblock %}
