<div class="menu">
    <ul>
        <li><a href="{{ path('app_index') }}">Arena</a></li>
        <li><a href="{{ path('app_homepage') }}">Home</a></li>

        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a class="link" href="{{ path('app_user_index') }}">Users</a>
                <a class="link" href="{{ path('app_breed_index') }}">Breeds</a>
                <a class="link" href="{{ path('app_slots_index') }}">Slots</a>
                <a class="link" href="{{ path('app_traits_index') }}">Traits</a>
                <a class="link" href="{{ path('app_fight_style_index') }}">Fight Styles</a>
                <a class="link" href="{{ path('app_skills_index') }}">Skills</a>
                <a class="link" href="{{ path('app_sentence_index') }}">Sentences</a>
                <a class="link" href="{{ path('app_warrior_index') }}">Warriors</a>

            </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('app_warrior_creation') }}">Create a warrior</a></li>
        {% endif %}


        <li>{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="link" href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a class="link" href="{{ path('app_login') }}">Login</a>
            {% endif %}
        </li>

    </ul>
</div>