{% extends 'base.html.twig' %}

{% block title %}Skills index{% endblock %}

{% block body %}
    <h1>Skills index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Modifiers</th>
                <th>Requirements</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.id }}</td>
                <td>{{ skill.name }}</td>
                <td>{{ skill.description }}</td>
                <td>{{ skill.modifiers ? skill.modifiers|json_encode : '' }}</td>
                <td>{{ skill.requirements ? skill.requirements|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_skills_show', {'id': skill.id}) }}">show</a>
                    <a href="{{ path('app_skills_edit', {'id': skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_skills_new') }}">Create new</a>
{% endblock %}
